.camp-card {
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.1);
  }

  &__link {
    &:hover {
      text-decoration: none;
    }
  }

  &__title {
    color: dimgray;
    font-size: 25px;
  }
}
