.camp-card {
  transition: transform 0.5s;
}

.camp-card:hover {
  transform: scale(1.1);
}

.camp-card__link:hover {
  text-decoration: none;
}

.camp-card__title {
  color: dimgray;
  font-size: 25px;
}
