.jumbotron {
  background-image: url('https://camphunt-images.s3.eu-west-2.amazonaws.com/1608389205463');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: center;
  align-items: center;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
  border-radius: 30px;
}

.jumbotron h1,
.jumbotron h4 {
  color: white;
  text-shadow: 2px 3px 3px rgba(0, 0, 0, 1);
  margin-bottom: 2rem;

  backface-visibility: hidden;
}

.jumbotron h1 {
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.jumbotron h4 {
  animation: moveInRight 2s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.campground-results-heading {
  text-align: center;
  margin: 2rem auto;
}

.campground-results-heading h3 {
  margin: 0 auto 1rem auto;
  color: dimgray;
}

.campground-results-heading hr {
  margin-top: -0.5rem;
}

.hr-container {
  padding: 1rem;
  margin-top: 0rem;
}
